{% extends 'base.html' %}

{% block content %}
<head>
    <meta name="description" content="Explore our comprehensive learning resources to enhance your knowledge about stock market investment.">
    <meta name="keywords" content="Investment Learning, Stock Market Education, Investment Resources">
</head>
<section class="learning-resources-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <!-- Beginner Resources Section -->
            <h2 class="card-title text-center">Want to learn more about investing?</h2>
            <p class="card-text">Check out these beginner-friendly resources:</p>
            <div class="row resource-list">
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.stash.com/learn/stock-market-terms/'>Glossary of Stock Market Terms</a></h5>
                    <p class="card-text">A comprehensive glossary of stock market terms and definitions for beginners.</p>
                    <a href="https://www.stash.com/learn/stock-market-terms/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.marketwatch.com/games/practice-your-skills'>Practice Your Skills with MarketWatch Virtual Game</a></h5>
                    <p class="card-text">Test your investing skills in a virtual stock market environment.</p>
                    <a href="https://www.marketwatch.com/games/practice-your-skills" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://a.webull.com/gsHCdqObBiRgSkMkYB'>Get Free Stocks with My Webull Referral Code</a></h5>
                    <p class="card-text">Use a referral code to get free stocks when you sign up for Webull.</p>
                    <a href="https://a.webull.com/gsHCdqObBiRgSkMkYB" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="800">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.forbes.com/sites/forbesfinancecouncil/2021/12/17/9-expert-recommended-educational-resources-for-newcomers-to-the-stock-market/?sh=e0d28705063f'>9 Expert-Recommended Educational Resources For Newcomers To The Stock Market</a></h5>
                    <p class="card-text">Discover expert-recommended educational resources for beginners in the stock market.</p>
                    <a href="https://www.forbes.com/sites/forbesfinancecouncil/2021/12/17/9-expert-recommended-educational-resources-for-newcomers-to-the-stock-market/?sh=e0d28705063f" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.investopedia.com/best-online-stock-trading-classes-5089249'>The Best Online Stock Trading Classes of 2023</a></h5>
                    <p class="card-text">Explore the best online stock trading classes available in 2023.</p>
                    <a href="https://www.investopedia.com/best-online-stock-trading-classes-5089249" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1200">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.stocktrader.com/learn-stock-trading'>10 Great Ways to Learn Stock Trading in 2023</a></h5>
                    <p class="card-text">Discover 10 great ways to learn stock trading and improve your skills.</p>
                    <a href="https://www.stocktrader.com/learn-stock-trading" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Advanced Resources Section -->
            <h2 class="card-title text-center">For more advanced learning, check out these resources:</h2>
            <div class="row resource-list">
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://smarttradingsoftware.com/en/calculators/risk-reward-ratio-calculator/'>Risk Reward Ratio Calculator</a></h5>
                    <p class="card-text">A handy tool for calculating the risk-reward ratio of your trades.</p>
                    <a href="https://smarttradingsoftware.com/en/calculators/risk-reward-ratio-calculator/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='http://160592857366.free.fr/joe/ebooks/tech/Wiley%20CandleStick%20and%20Pivot%20Point%20Trading%20Triggers.pdf'>CandleStick and Pivot Point Trading Triggers (PDF)</a></h5>
                    <p class="card-text">A comprehensive guide to candlestick and pivot point trading triggers.</p>
                    <a href="http://160592857366.free.fr/joe/ebooks/tech/Wiley%20CandleStick%20and%20Pivot%20Point%20Trading%20Triggers.pdf" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="600">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.tradingkingdom.net/'>Trading Kingdom</a></h5>
                    <p class="card-text">A website offering various educational resources and trading strategies.</p>
                    <a href="https://www.tradingkingdom.net/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="800">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.babypips.com/'>BabyPips</a></h5>
                    <p class="card-text">A comprehensive educational platform for forex trading.</p>
                    <a href="https://www.babypips.com/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.optionseducation.org/'>Options Education</a></h5>
                    <p class="card-text">Learn about options trading through educational resources provided by the Options Industry Council.</p>
                    <a href="https://www.optionseducation.org/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
              <!-- Resource Card -->
              <div class="col-md-4 mb-4" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1200">
                <div class="card resource-item">
                  <div class="card-body">
                    <h5 class="card-title"><a class="resource-link" href='https://www.investopedia.com/'>Investopedia</a></h5>
                    <p class="card-text">A trusted source for investing and financial education.</p>
                    <a href="https://www.investopedia.com/" class="btn btn-primary">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
